<!-- Left Sidebar  -->
<div class="left-sidebar">
  <!-- Sidebar scroll-->
  <div class="scroll-sidebar">
      <!-- Sidebar navigation-->
      <nav class="sidebar-nav">
          <ul id="sidebarnav">
              <li class="nav-devider"></li>
              <li class="nav-label">Menu</li>
              <li><a href="chart-flot.html">Cargar datos</a></li>
              <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-bar-chart"></i><span class="hide-menu">Registros</span></a>
                  <ul aria-expanded="false" class="collapse">
                      <li><a href="chart-flot.html">Candidatos</a></li>
                      <li><a href="chart-morris.html">Votantes</a></li>
                  </ul>
              </li>
              
          </ul>
      </nav>
      <!-- End Sidebar navigation -->
  </div>
  <!-- End Sidebar scroll-->
</div>
<!-- End Left Sidebar  -->