.my-login-page{
    background-color: #f7f9fb;
}

#btn2{
    background: #20bf6b;    
    color: white;
}

#btn1{
    background: #e55039;    
    color: white;
}



.my-login-page .brand img {

    padding-left: 20%;
    width: 76%;
    
}

.my-login-page .card-wrapper {
	width: 420px;
}

.my-login-page .card {
	border-color: transparent;
	box-shadow: 0 0 40px rgba(0,0,0,.05);
}

.my-login-page .card.fat {
	padding: 10px;
}

.my-login-page .card .card-title {
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
    font-family: Arial
}

.my-login-page .form-control {
	border-width: 2.3px;
}

.my-login-page .form-group label {
	width:  76%;
}

.my-login-page .btn.btn-block {

	padding: 8px 10px;
}

.my-login-page .margin-top20 {
	margin-top: 20px;
}

.my-login-page .no-margin {
	margin: 0;
}

.my-login-page .footer {
    margin-bottom: 100px ;
    margin-top: 30px ;
	color: #888;
	text-align: center;
}

