<div class="preloader">
  <svg class="circular" viewBox="25 25 50 50">
      <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
</div>
<!-- Main wrapper  -->
<div id="main-wrapper">
  <!-- header header  -->
 <app-header></app-header>
  <!-- End header header -->
  <app-side-menu></app-side-menu>
  <!-- Page wrapper  -->
  <div class="container-fluid">
    <!-- Start Page Content -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Dropzone</h4>
                    <h6 class="card-subtitle">For multiple file upload put class <code>.dropzone</code> to form.</h6>
                    <form action="#" class="dropzone">
                        <div class="fallback">
                            <input name="file" type="file" multiple />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- End PAge Content -->
</div>
  <!-- End Page wrapper  -->
</div>

<script src="assets/js/lib/dropzone/dropzone.js"></script>

